<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kewen.framework.auth.sys.composite.mapper.SysUserCompositeMapper">

    <select id="hasAuth" resultType="java.lang.Integer">
        select 1 from sys_application_auth
        where business_id=#{businessId}
        and module=#{module}
        and operate = #{operate}
        and authority in
        <foreach collection="auths" open="(" close=")" item="baseAuth" separator=",">
            #{baseAuth.auth}
        </foreach>
        limit 1
    </select>

    <select id="selectMenuAuths">
        select * from sys_menu m left join sys_auth_menu a on m.id=a.menu_id
    </select>

</mapper>
